<mat-card class="product-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
      <mat-icon>coffee</mat-icon>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{ product.description }}
  </mat-card-content>

  <div class="btn-add-to-cart">
    <button matIconButton aria-label="Btn add item to cart" (click)="addProductToCart()">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </div>
</mat-card>
