.header {
  background-color: var(--mat-sys-primary);
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #fff;
}

.shopping-cart-button {
  color: #fff;
}
